body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

h1 {
    font-size: 40px;
}

.welcome {
    font-size: 60px;
}

.color {
    font-size: 50px;
    color: orange;
}


.flexible-container {
    display: flex;
    margin-bottom: 50px;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

img {
    height: 600px;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(brown, pink);
    color: white;
    font-weight: 800;
    font-size: 20px;
    padding: 10px 40px;
    border-radius: 6px;

}

.top-banner {
    background-image: url(top-banner.png);
    background-repeat: no-repeat;

}

.dream-big {
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.expo-area {
    background-image: url(exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.expo {
    width: 40%;
    margin-left: 5%;
    margin-left: 5%;
    box-shadow: 10px 10px 40px gray;
    padding-left: 30px;
    border-radius: 20px;
}

#full-stack {
    border-left: 7px solid tomato;
}

#baby-web {
    border-left: 7px solid blue;
}


.oranged {
    color: orange;
}

footer p {
    text-align: center;
}